<a href="https://colab.research.google.com/github/kiran1234098/dsa/blob/main/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#code

a =int(input("number"))
print(" ")
for i in range(a):
    for j in range(a):
        print("*", end=" ")
    print(" ")

number3

* * *
* * *
* * *

In [10]:
a =int(input("number"))
print(" ")
p=1
for i in range(a):
  for j in range(p):
    
    print("*",end=" ")
    
    
  print(" ")
  p=p+1

number5

*
* *
* * *
* * * *
* * * * *

In [13]:
a =int(input("number"))
print(" ")
p=r=1
for i in range(a):
  for j in range(p):
    
    print(r,end=" ")
    r=r+1
    
    
  print(" ")
  p=p+1

number10

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55

In [16]:
a =int(input("number"))
print(" ")
p=r=1
for i in range(a):
  for j in range(p):
    
    print(j+1,end=" ")
    r=r+1
    
    
  print(" ")
  p=p+1

number10

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [18]:
a =int(input("number"))
print(" ")
p=r=1
for i in range(a):
  for j in range(p):
    
    print(p,end=" ")
    r=r+1
    
    
  print(" ")
  p=p+1

number10

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [22]:
a = int(input("number"))
b=a
for i in range(a):
  for j in range(b):
    print("*",end=" ")
    
  print(" ")
  b=b-1

number15
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [23]:
a = int(input("number"))
b=a
for i in range(a):
  for j in range(b):
    print(j+1,end=" ")
    
  print(" ")
  b=b-1

number5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [25]:
a =int(input("number"))
c=a-1
s=1

for i in range(a):
  for j in range(c):
    print("",end=" ")
  for k in range(s) :
    print("*",end="")

  c=c-1
  s=s+2   




  print(" ")

number5
    *
   ***
  *****
 *******
*********